{
  "presets": ["react-native"],
  "sourceMaps": "inline",
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "./src",
          "~tests": "./tests",
          "~e2e": "./e2e"
        }
      }
    ]
  ],
  "env": {
    "packages": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "alias": {
              "~": "./mobile/app/src",
              "~tests": "./mobile/app/tests",
              "~e2e": "./mobile/app/e2e"
            }
          }
        ]
      ]
    }
  }
}
