{
  "presets": ["react-native"],
  "sourceMaps": "inline",
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "."
        }
      }
    ]
  ]
}
