{
  "presets": ["react-native"],
  "sourceMaps": "inline",
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "./src",
          "~tests": "./tests",
          "~e2e": "./e2e"
        }
      }
    ]
  ]
}
