{
  "*.d.ts": [
    "eslint -c .eslintrc",
    "prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write",
    "git add"
  ],
  "*.ts{,x}": [
    "tslint -c tslint.json --fix",
    "eslint -c .eslintrc",
    "stylelint -c .stylelintrc",
    "prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write",
    "git add"
  ],
  "{*.json,.*rc}": [
    "prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write",
    "git add"
  ]
}
