{
  "*.d.ts": ["eslint -c .eslintrc", "yarn prettier-ts -- --write", "git add"],
  "*.ts{,x}": [
    "tslint -c tslint.json --fix",
    "eslint -c .eslintrc",
    "stylelint -c .stylelintrc",
    "yarn prettier-ts -- --write",
    "git add"
  ],
  "{*.json,.*rc}": ["yarn prettier-json -- --write", "git add"]
}
