{
  "processors": ["stylelint-processor-styled-components"],
  "extends": ["stylelint-config-standard", "stylelint-config-styled-components"],
  "syntax": "scss",
  "rules": {
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "margin-vertical",
          "margin-horizontal",
          "padding-vertical",
          "padding-horizontal",
          "shadow-color",
          "shadow-offset",
          "shadow-radius",
          "shadow-opacity"
        ]
      }
    ],
    "function-name-case": null,
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null,
    "indentation": null
  }
}
