{
  "presets": ["es2015", "react-native"],
  "sourceMaps": "inline",
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "."
        }
      }
    ]
  ],
  "env": {
    "es5": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "alias": {
              "~/src": "./es5"
            }
          }
        ]
      ]
    },
    "umd": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "alias": {
              "~/src": "./umd"
            }
          }
        ]
      ]
    }
  }
}
