{
  "sourceMaps": "inline",
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "."
        }
      }
    ]
  ],
  "env": {
    "shared": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "alias": {
              "~": "./shared/shared-themes"
            }
          }
        ]
      ]
    }
  }
}
