{
  "presets": ["react-native"],
  "sourceMaps": "inline",
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "#": ".",
          "~": "..",
          "@mobile/home": "../src"
        }
      }
    ]
  ]
}
